<!DOCTYPE html>
<html>
<!--
author:lvlu
date:2018-07
desc:this demo is about blog. PLEASE NOTE:If you have trouble running it ,try any of the other demos or connect with auther.
A ny individuals and organizations and not for commercial use, professiona website for customized web site.
-->
<head lang="en">
    <meta charset="UTF-8">
    <title>我的订单 - 皮爷の商城</title>
    <link rel="stylesheet" type="text/css" href="../../css/icon/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/index.css">
    <link href="../../css/myOrder.css" rel="Stylesheet" />
    <link href="../../css/personage.css" rel="stylesheet" />
    <link href="../../css/icon/css/cropper.min.css" rel="stylesheet">
    <link href="../../css/icon/css/sitelogo.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../css/icon/css/font-awesome.min.css">
    <link rel="icon" href="../../images/index/py.ico">
    <script src="../../js/init.js"></script>
</head>

<body>
    <!-- 页面顶部-->
    <header id="header"></header>

    <!-- 我的订单导航栏-->
    <div id="nav_order">

    </div>
    <!--我的订单内容区域 #container-->
    <div id="container" class="clearfix">
        <!-- 左边栏-->
        <div id="leftsidebar_box" class="lf">
            <div class="line"></div>
            <dl class="my_order">
                <dt onClick="changeImage()">我的订单
                    <img src="../../images/myOrder/myOrder2.png">
                </dt>
                <dd class="first_dd"><a href="myOrder.html">全部订单</a></dd>
                <dd>
                    <a href="#">
                        待付款
                        <span>
                            <!--待付款数量--></span>
                    </a>
                </dd>
                <dd>
                    <a href="#">
                        待收货
                        <span>
                            <!--待收货数量--></span>
                    </a>
                </dd>
                <dd>
                    <a href="#">
                        待评价<span>
                            <!--待评价数量--></span>
                    </a>
                </dd>
                <dd>
                    <a href="#">退货退款</a>
                </dd>
            </dl>

            <dl class="footMark">
                <dt onClick="changeImage()">我的优惠卷<img src="../../images/myOrder/myOrder1.png"></dt>
            </dl>

            <dl class="address">
                <dt>收货地址<img src="../../images/myOrder/myOrder1.png"></dt>
                <dd><a href="addressAdmin.html">地址管理</a></dd>
            </dl>
            <dl class="count_managment">
                <dt onClick="changeImage()">帐号管理<img src="../../images/myOrder/myOrder1.png"></dt>
                <dd class="first_dd"><a href="personage.html">我的信息</a></dd>
                <dd><a href="personal_password.html">安全管理</a></dd>
            </dl>
        </div>
        <!-- 右边栏-->
        <!--个人信息头部-->
        <div class="rightsidebar_box rt">
            <div class="rs_header">
                <span class="rs_header_active"><a href="personage.html">我的信息</a></span>
                <span><a href="personal_password.html">安全管理</a></span>
            </div>

            <!--个人信息具体内容 -->
            <div class="rs_content">
                <!--头像-->
                <div class="rs_content_headPortrait">
                    <span class="same">我的头像：</span>
                    <img src="../../images/personage/touxiang.png" alt="" id="icon" width="50px" height="50px" />

                    <input type="hidden" name="iconPic" value="" id="iconPic">
                    <span class="change_headPortrait same_click" data-toggle="modal" data-target="#avatar-modal">更改头像</span>
                </div>
                <!--用户名-->
                <div class="rs_content_username">
                    <span class="same">用户昵称：</span>
                    <!-- <span class="same rs_username">瞿叨叨</span> -->
                    <input class="rs_username" />
                    <!-- <span class="change_username same_click">更改用户名</span> -->
                </div>
                <!--性别-->
                <div class="rs_content_sex">
                    <span class="same">性别：</span>
                    <span class="man selected">
                        <img src="../../images/personage/select.png" alt="" />男
                    </span>
                    <span class="women">
                        <img src="../../images/personage/un_select.png" alt="" />女
                    </span>
                </div>
                <!--绑定电话-->
                <div class="rs_content_tel">
                    <span class="same">绑定电话：</span>
                    <input id="receiverMobile" class="rs_tel" type="text" value="" />
                </div>
                <!--绑定邮箱-->
                <div class="rs_content_mail">
                    <span class="same">绑定邮箱：</span>
                    <input class="rs_mail" />
                    <!-- <span class="rs_mail">qudaodao@tedu.com</span>
                    <span class="same_click change_mail">更改邮箱</span> -->
                </div>
                <!--保存按钮-->
                <div class="save">
                    保存更改
                </div>
            </div>
        </div>
    </div>
    <!-- 头像插件 -->
    <div class="modal fade" id="avatar-modal" aria-hidden="true" aria-labelledby="avatar-modal-label" role="dialog"
        tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!--<form class="avatar-form" action="upload-logo.php" enctype="multipart/form-data" method="post">-->
                <form class="avatar-form">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal" type="button">×</button>
                        <h4 class="modal-title" id="avatar-modal-label">上传图片</h4>
                    </div>
                    <div class="modal-body">
                        <div class="avatar-body">
                            <div class="avatar-upload">
                                <input class="avatar-src" name="avatar_src" type="hidden">
                                <input class="avatar-data" name="avatar_data" type="hidden">
                                <label for="avatarInput" style="line-height: 35px;">图片上传</label>
                                <button class="btn btn-info" type="button" style="height: 35px;" onClick="$('input[id=avatarInput]').click();">请选择图片</button>
                                <span id="avatar-name"></span>
                                <input class="avatar-input hide" id="avatarInput" name="avatar_file" type="file"></div>
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="avatar-wrapper"></div>
                                </div>
                                <div class="col-md-3">
                                    <div class="avatar-preview preview-lg" id="imageHead"></div>
                                    <!--<div class="avatar-preview preview-md"></div> 
                        <div class="avatar-preview preview-sm"></div>-->
                                </div>
                            </div>
                            <div class="row avatar-btns">
                                <div class="col-md-4">
                                    <div class="btn-group">
                                        <button class="btn btn-info fa fa-undo" data-method="rotate" data-option="-90"
                                            type="button" title="Rotate -90 degrees"> 向左旋转</button>
                                    </div>
                                    <div class="btn-group">
                                        <button class="btn  btn-info fa fa-repeat" data-method="rotate" data-option="90"
                                            type="button" title="Rotate 90 degrees"> 向右旋转</button>
                                    </div>
                                </div>
                                <div class="col-md-5" style="text-align: right;">
                                    <button class="btn btn-info fa fa-arrows" data-method="setDragMode" data-option="move"
                                        type="button" title="移动">
                                        <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="$().cropper("
                                            setDragMode", "move" )">
                                        </span>
                                    </button>
                                    <button type="button" class="btn btn-info fa fa-search-plus" data-method="zoom"
                                        data-option="0.1" title="放大图片">
                                        <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="$().cropper("
                                            zoom", 0.1)">
                                            <!--<span class="fa fa-search-plus"></span>-->
                                        </span>
                                    </button>
                                    <button type="button" class="btn btn-info fa fa-search-minus" data-method="zoom"
                                        data-option="-0.1" title="缩小图片">
                                        <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="$().cropper("
                                            zoom", -0.1)">
                                            <!--<span class="fa fa-search-minus"></span>-->
                                        </span>
                                    </button>
                                    <button type="button" class="btn btn-info fa fa-refresh" data-method="reset" title="重置图片">
                                        <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="$().cropper("
                                            reset")" aria-describedby="tooltip866214">
                                    </button>
                                </div>
                                <div class="col-md-3">
                                    <button id="button_save" class="btn btn-info btn-block avatar-save fa fa-save" type="button"
                                        data-dismiss="modal"> 保存修改</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 页面底部-->
    <footer id="footer"></footer>
</body>
<script type="text/javascript" src="../../js/jquery.min.js"></script>
<script src="../../js/index.js"></script>
<script src="../../js/jquery.page.js"></script>
<script type="text/javascript" src="../../js/order.js"></script>
<script type="text/javascript" src="../../js/personal.js"></script>
<script src="../../js/icon/bootstrap.min.js"></script>
<script src="../../js/icon/cropper.js"></script>
<script src="../../js/icon/sitelogo.js"></script>
<script src="../../js/icon/html2canvas.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(function () {
        //做个下简易的验证  大小 格式  
        $('#avatarInput').on('change', function (e) {
            var filemaxsize = 1024 * 5; //5M 
            var target = $(e.target);
            var Size = target[0].files[0].size / 1024;
            if (Size > filemaxsize) {
                alert('图片过大，请重新选择!');
                $(".avatar-wrapper").childre().remove;
                return false;
            }
            if (!this.files[0].type.match(/image.*/)) {
                alert('请选择正确的图片!')
            } else {
                var filename = document.querySelector("#avatar-name");
                var texts = document.querySelector("#avatarInput").value;
                var teststr = texts; //你这里的路径写错了 
                testend = teststr.match(/[^\\]+\.[^\(]+/i); //直接完整文件名的 
                filename.innerHTML = testend;
            }
        });
        $(".avatar-save").on("click", function () {
            var img_lg = document.getElementById('imageHead');

            // 截图小的显示框内的内容 
            if ($('img_lg').attr('src') != undefined) {
                html2canvas(img_lg, {
                    allowTaint: true,
                    taintTest: false,
                    onrendered: function (canvas) {
                        canvas.id = "mycanvas";
                        //生成base64图片数据 
                        dataUrl = canvas.toDataURL("image/png");
                        $('#icon').attr('src', dataUrl);
                    }
                });
            }
        })
        var dataUrl = ''


        $.ajax({
            type: "get",
            url: baseUrl + '/user/alterinfo',
            datatype: JSON,
            success: function (response) {
                var result = JSON.parse(response)
                console.log(result.data)
                if (result.result) {
                    if (result.data.sex == 1) {
                        $(".man").addClass("selected");
                        $(".man img").attr("src", "../../images/personage/select.png");
                        $(".women").removeClass("selected");
                        $(".women img").attr("src", "../../images/personage/un_select.png");
                        $('.rs_content_sex').attr('data-sex', '1')
                    } else if (result.data.sex == 0) {
                        $(".women").addClass("selected");
                        $(".women img").attr("src", "../../images/personage/select.png");
                        $(".man").removeClass("selected");
                        $(".man img").attr("src", "../../images/personage/un_select.png");
                        $('.rs_content_sex').attr('data-sex', '0')
                    }

                    $('.rs_username').val(result.data.nickname)
                    $('.rs_mail').val(result.data.email)
                    $('.rs_tel').val(result.data.mobile)
                    $('#icon').attr('src', baseUrl + result.data.headp);



                }
            }
        });

        $(".save").click(function () {
            var nickname = $('.rs_username').val()
            var email = $('.rs_mail').val()
            var mobile = $('.rs_content_tel input').val()
            var sex = $('.rs_content_sex').attr('data-sex')

            $.ajax({
                type: 'post',
                url: baseUrl + '/user/alterinfo',
                datatype: JSON,
                data: {"headphoto": dataUrl,"nickname": nickname,"mobile": mobile,'email': email,'sex': sex},
                success: function (response) {
                    var result = JSON.parse(response)
                    console.log(result)
                    if (result.result) {
                        // window.location.reload()
                        if (result.data.sex == 1) {
                            $(".man").addClass("selected");
                            $(".man img").attr("src", "../../images/personage/select.png");
                            $(".women").removeClass("selected");
                            $(".women img").attr("src", "../../images/personage/un_select.png");
                            $('.rs_content_sex').attr('data-sex', '1')
                        } else if (result.data.sex == 0) {
                            $(".women").addClass("selected");
                            $(".women img").attr("src", "../../images/personage/select.png");
                            $(".man").removeClass("selected");
                            $(".man img").attr("src", "../../images/personage/un_select.png");
                            $('.rs_content_sex').attr('data-sex', '0')
                        }
                        $('.rs_username').val(result.data.nickname)
                        $('.rs_mail').val(result.data.email)
                        $('.rs_tel').val(result.data.mobile)
                        $('#icon').attr('src', baseUrl + result.data.headp);
                        alert('保存成功')


                    }
                },
                error: function (err) {
                    alert('保存失败' + err)
                }
            })

        })

        $("#icon").click(function () {
            window.open($(this).attr("src"));
        })

    })
</script>
<!--<script>
	$(".x").click(function(){
		$(".modal").hide();
	})
	$(".change_headPortrait").click(function(){
		$(".modal").show();
	})
</script>-->

</html>
