<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码成功</title>
	<link rel="stylesheet" href="/static/css/sale/base.css">
  <link rel="stylesheet" href="/static/css/sale/ok.css">
 </head>
 <body>
	<!--整体-->
	<div id="container">
		<!--1.顶部-->
		<div id="top">
			<!--顶部logo-->
			<div id="top-logo">
				<a href="">
					<img src="/static/images/footer/logo.png">
				</a>
			</div>
		</div>
		<!--2、导航-->
		<div id="nav" class="">
			<ul>
				<a href="saleuser.html">回首页</a>
			</ul>
		</div>
		<!--3、主体部分-->
		<div id="main">
			<h4>密码修改成功，请牢记您的密码！！！</h4>
		</div>
		<!--4.底部页面-->
		<div id="footer">
			<div>
				<img src="/static/images/footer/icon1.png">
				<p>品质保障</p>
			</div>
			<div>
				<img src="/static/images/footer/icon2.png">
				<p>私人订制</p>
			</div>
			<div>
				<img src="/static/images/footer/icon3.png">
				<p>皮粉特供</p>
			</div>
			<div>
				<img src="/static/images/footer/icon4.png">
				<p>专属特权</p>
			</div>
		</div>
		<!--5.共用底部-->		
		<div id="bottom">
			<div class="download">
				<img src="/static/images/footer/erweima.png">
			</div>
			<div class="service">
				<p>皮爷の商城客户端</p>
				<img src="/static/images/footer/android.png">
				<img src="/static/images/footer/ios.png">
			</div>
			<p>
				<img src="/static/images/footer/logo.png" id="footLogo">
			</p>
			<p>
				<img src="/static/images/footer/footerFont.png" id="footFont">
			</p>
			<div class="proprietary">
				<p>*2019皮爷の集团有限公司版权所有 &copy京ICP证xxxxxxxx</p>
			</div>
		</div>		
	</div>
 </body>
</html>
>